<div class="panel panel-primary">
  <div class="panel-heading">
    QSL Card for <%= @track.callsign.callsign.upcase %> & <%= @track.call.upcase %>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th class="col-md-2">My Callsign</th>
          <td><%= @track.callsign.callsign.upcase %></td>
        </tr>
        <tr>
          <th>Station Callsign</th>
          <td><%= @track.call.upcase %></td>
        </tr>
        <tr>
          <th>Method</th>
          <td><%= @track.method %> QSL</td>
        </tr>
        <tr>
          <th>Date In</th>
          <td><%= @track.date_in.strftime("%d %B %Y") if @track.date_in? %></td>
        </tr>
        <tr>
          <th>Date Out</th>
          <td><%= @track.date_out.strftime("%d %B %Y") if @track.date_out? %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <%= check_status(@track) %>
            <% if @track.date_in == nil || @track.date_out == nil %>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#complete">Mark as complete</button>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_callsign_track_path(id:@track), class: "btn btn-primary" %>
  <%= link_to 'Back', callsign_tracks_path, class: "btn btn-default" %>
</div>


<!-- Modal -->
<div class="modal fade" id="complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mark Completed</h4>
      </div>
      <%= form_for @track, url: complete_callsign_track_path(id:@track), multipart: true, html: { class: "form-horizontal", method: :patch, remote: true } do |f| %>
      <div class="modal-body">
        <% if @track.date_in.nil? %>
          <div class="form-group method" id="TKS">
            <%= f.label :date_in, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.date_field :date_in, class: "form-control", placeholder: "Enter QSL Card Date In" %>
              <small><span class="help-block">This is required if you choose TKS QSL method above</span></small>
            </div>
          </div>
        <% else %>
          <div class="form-group method" id="PSE">
            <%= f.label :date_out, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.date_field :date_out, class: "form-control", placeholder: "Enter QSL Card Date Out" %>
              <small><span class="help-block">This is required if you choose PSE QSL method above</span></small>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <button type="button" class="btn btn-default">Cancel</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
